<div class="headerr">
<div>
   <div class="container-fluid">
       <div class="col-sm-4 logo-hd">
         <!--  <img src="images/logo.png"> -->
          <h1 class="logo">Angular 2</h1>
       </div>
       <div class="col-sm-8">

       </div>
   </div>
</div>
<div class="container-fluid menu-hd">
   <ul class="nav nav-pills nav-justified navbar_pills">
      <li><a routerLink="/" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/app-pipes" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Filters/sorting</a></li>
      <li><a routerLink="/app-repeat-loop" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Repeat Loop</a></li>
      <li><a routerLink="/app-service-htt" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Http service</a></li>
      <li><a routerLink="/app-login-valid" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Form Validations</a></li>
      <li><a routerLink="/app-effective-animation" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Animations</a></li>
      <li><a routerLink="/app-directives" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Directives</a></li>
      <li><a routerLink="/app-tabs" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Tabs</a></li>
      <li><a routerLink="/app-service" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Services</a></li>
      <li><a routerLink="/app-events" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Events</a></li>
      <li><a routerLink="/app-pagination" routerLinkActive="activee" [routerLinkActiveOptions]="{exact:true}">Pagination</a></li>
   </ul>
</div>
</div>

<router-outlet></router-outlet>
