<br><br><br><br><br><br>
<div class="container">
<h1>{{title}}</h1>
    <h2>Details</h2>
    <div class="col-sm-6">
       <ul class="heroes">
          <li *ngFor="let hero of heroes"
            [class.selected]="hero === selectedHero"
            (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> <span> {{hero.name}} </span> <span class="badgee"> {{hero.designation}} </span>
         </li>
       </ul>
    </div>
    <div class="col-sm-6">
        <hero-detail [hero]="selectedHero"></hero-detail>
    </div>

</div>
